# Binaries
simple_backend_server
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# SQLite Database
*.db
*.db-journal
*.db-shm
*.db-wal

# Dependency directories (although modules are used, sometimes vendor is used)
vendor/

# OS specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# IDEs
.idea/
.vscode/
*.iml
